# Built artifacts
**/build/
*.apk
*.aar
*.ap_

# Gradle files
.gradle/
local.properties
.navigation/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/

# OS files
Desktop.ini
Thumbs.db
.DS_Store
